@use "../variables";

$font-inter: "Inter", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-manrorpe: "Manrope", sans-serif;

$white: #FFFFFF;
$black: #000;
$light-black: #323232;
$dark-gray: #5C5C5C;
$gray: #AEAEAE;
$grey: #F2F2F2;
$primary-color: #ED5A25;
$primary-light-color: #FFDBCE;
$secondary-color: #FFF4F1;


.product__card{
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid $primary-light-color;
    background: $white;
}

.product__card--img{
    width: 100%;
    aspect-ratio: 1.15 / 1;
    border-radius: 2rem;
    overflow: hidden;
    display: block;
    position: relative;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    svg{
        position: absolute;
        display: block;
        top: 1rem;
        right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        background: $white;
        border-radius: 50%;
        font-size: 1.6rem;
        padding: 0.4rem;
        &:hover{
            background: $primary-color;
            path{
                fill: $white;
            }
        }
    }
}

.product__card--title{
    margin-top: 1.2rem;
    color: $black;
    font-family: $font-poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__card--price{
    margin-top: 0.8rem;
    color: $primary-color;
    font-family: $font-quicksand;
    font-size: 1.55rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product__card--btn{
    margin-top: 1.2rem;
    width: 100%;
    background-color: $primary-light-color;
    color: $primary-color;
    font-family: $font-poppins;
    font-size: 1.55rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    transition: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    path{
        transition: fill, stroke;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }
    &:hover{
        color: $white;
        background-color: $primary-color;
        path{
            fill: $white;
            stroke: $white;
        }
    }
}