@use "../variables";

.split__banner {
    margin-top: 4rem;
}

.split__banner--item {
    text-align: right;
    background-color: variables.$primary-light-color;
    height: 25rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;

    .banner__item,
    .banner__background {
        height: 100%;
        object-fit: contain;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .banner__background {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}

.item--flip {
    .banner__item {
        transform: scaleX(-1);
    }
    .split__banner--img{
        transform: scaleX(-1);
    }
}

.split__banner--container{
    display: flex;


}
.split__banner--container{
    position: relative;
    height: 100%;
    z-index: 3;
    display: flex;
    text-align: center;
    align-items: center;
}
.split__banner--content{
    width: 50%;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 5;
    .split__banner--title{
        color: variables.$light-black;
        font-family: variables.$font-quicksand;
        font-size: 22.128px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .split__banner--btn{
        background-color: variables.$white;
        font-family: variables.$font-quicksand;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.383rem;
        display: flex;
        width: 9.5rem;
        height: 2.5rem;
        padding: 0.7rem;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        flex-shrink: 0;
        border-radius: 6.9rem;
        outline: 0.07rem solid variables.$primary-color;
        color: variables.$primary-color;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        img{
            width: 1.4rem;
            height: 1.4rem;
            background-color: variables.$white;
            border-radius: 50%;
        }

        &:hover{
            color: variables.$white;
            background-color: variables.$primary-color;
        }
    }
}
.split__banner--img{
    width: 50%;
    object-fit: cover;
}

@media (max-width: 991.98px){
    .split__banner--item {

        .banner__item {
            right: -10%;
        }
    }
    .split__banner--content{
        width: 60%;
    }
    .split__banner--img {
        scale: 1.5;
        translate: -1rem 0;
        width: 40%;
    }
}

@media (max-width: 575.98px) {
    .split__banner {
        margin-top: 2rem;
    }
    .split__banner--img {
        scale: 1.7;
        translate: -5rem 0;
        
    }
    .split__banner--title{
        font-size: 2.2rem;
    }
    .split__banner--btn{
        font-size: 1.2rem;
        line-height: 1.4rem;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
}