@use "../layout/variables";

$font-inter: "Inter", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-manrorpe: "Manrope", sans-serif;

$white: #FFFFFF;
$black: #000;
$light-black: #323232;
$dark-gray: #5C5C5C;
$gray: #AEAEAE;
$grey: #F2F2F2;
$primary-color: #ED5A25;
$primary-light-color: #FFDBCE;
$secondary-color: #FFF4F1;

.signup-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background: url("./img/sign-up/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.signup__container {
    width: 60%;
    min-width: 30rem;
    height: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4.5rem;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0.6rem 1.2rem 3.31rem 0rem rgba(229, 229, 229, 0.30);
    backdrop-filter: blur(1.1949999809265137rem);
    display: flex;
}

.signup__container--left,
.signup__container--right {
    flex: 1;
}

.signup__container--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__left--content {
    max-width: 70%;

    h2 {
        color: $dark-gray;
        font-family: $font-manrorpe;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem;
        /* 133.333% */
        text-transform: uppercase;
    }
}

.container__left--list {
    margin-top: 1.8rem;
    li {
        display: flex;
        gap: 1.6rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.container__left--index{
    width: 3.2rem;
    height: 3.2rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
    background: #F0F0F095;
    background-blend-mode: multiply;
    display: inline-block;
    color: $black;
    font-family: $font-quicksand;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    text-align: center;
}
.container__left--text{
    color: $light-black;
    font-family: $font-quicksand;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.signup__container--right {
    background-color: $white;
    width: 50%;
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__right--content {
    max-width: 80%;

    h1 {
        color: $light-black;
        font-family: $font-manrorpe;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem;
    }

    .container__right--form {
        margin-top: 2.5rem;
    }
}

.list__signup {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 2.1rem;
}

.signup__socials {
    margin-top: 6rem;
    text-align: center;

    p {
        color: $gray;
        font-family: $font-inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.btn__create--right {
    display: none;
    color: $white;
    font-family: $font-manrorpe;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2rem;
    margin-top: 3.2rem;
    background-color: $primary-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.3rem;
    padding-left: 2.3rem;
    text-align: center;

}


@media (max-width: 1399.98px) {
    .signup__container--right {
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .container__left--text {
        font-size: 1.4rem;
    }
    .container__left--index {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 1199.98px) {
    .container__left--content {
        h2 {
            font-size: 2rem;
            line-height: 2.6rem;
        }

        p {
            margin-top: 1.4rem;
            font-size: 1.3rem;
        }

        a {
            font-size: 1.2rem;
            margin-top: 3.8rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
}

@media (max-width: 991.98px) {
    .signup__container--left {
        display: none;
    }

    .signup__container {
        width: 70%;
    }

    .btn__create--right {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .list__signup {
        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .signup__container--right {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .signup-wrapper {
        overflow: auto;
    }
}