@use "../variables";

.signin-wrapper{
    min-width: 100vw;
    min-height: 100vh;
    background: url("./img/sign-in/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.signin__container{
    width: 60%;
    min-width: 30rem;
    height: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4.5rem;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0.6rem 1.2rem 3.31rem 0rem rgba(229, 229, 229, 0.30);
    backdrop-filter: blur(1.1949999809265137rem);
    display: flex;
}

.signin__container--left, .signin__container--right{
    flex: 1;
}

.signin__container--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__left--content{
    max-width: 70%;
    h2{
        color: variables.$dark-gray;
        font-family: variables.$font-manrorpe;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem;
        /* 133.333% */
        text-transform: uppercase;
    }
    p{
        color: variables.$light-black;
        margin-top: 1.8rem;
        font-family: variables.$font-quicksand;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    a{
        color: variables.$white;
        font-family: variables.$font-manrorpe;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        border-radius: 2rem;
        margin-top: 4.2rem;
        background-color: variables.$primary-color;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
    
}

.signin__container--right{
    background-color: variables.$white;
    width: 50%;
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__right--content{
    max-width: 80%;
    h1{
        color: variables.$light-black;
        font-family: variables.$font-manrorpe;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem;
    }
    .container__right--form{
        margin-top: 2.5rem;
    }
}

.list__signin{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 2.1rem;
}
.signin__socials{
    margin-top: 4.7rem;
    text-align: center;
    p{
        color: variables.$gray;
        font-family: variables.$font-inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.btn__create--right{
    display: none;
    color: variables.$white;
    font-family: variables.$font-manrorpe;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2rem;
    margin-top: 3.2rem;
    background-color: variables.$primary-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.3rem;
    padding-left: 2.3rem;
    text-align: center;
    
}


@media (max-width: 1399.98px){
    .signin__container--right {
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (max-width: 1199.98px){
    .container__left--content {
        h2 {
            font-size: 2rem;
            line-height: 2.6rem;
        }

        p {
            margin-top: 1.4rem;
            font-size: 1.3rem;
        }

        a {
            font-size: 1.2rem;
            margin-top: 3.8rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
}
@media (max-width: 991.98px){
    .signin__container--left{
        display: none;
    }
    .signin__container{
        width: 70%;
    }
    .btn__create--right {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .list__signin{
        svg{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}
@media (max-width: 767.98px){}
@media (max-width: 575.98px){
    .signin__container--right {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .signin-wrapper{
        overflow: auto;
    }
}