@use "../variables" as *;

$font-inter: "Inter", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-manrorpe: "Manrope", sans-serif;

$white: #FFFFFF;
$black: #000;
$light-black: #323232;
$dark-gray: #5C5C5C;
$gray: #AEAEAE;
$grey: #F2F2F2;
$primary-color: #ED5A25;
$primary-light-color: #FFDBCE;
$secondary-color: #FFF4F1;

.header__top {
    background-color: $primary-color;

    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    &--subway{
        width: 2rem;
        height: 2rem;
    }
    &--hotline{
        color: $white;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        a{
            text-decoration: none;
        }
        path{
            fill: $white;
        }
        circle{
            stroke: $white;
        }
    }

    &--about {
        font-family: $font-quicksand;
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: 0;
        display: inline-block;
        color: $white;
        text-decoration: none;
    }

    &--funcitonal {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .funcitonal__item {
        position: relative;
        z-index: 1;

        a {
            font-family: $font-quicksand;
            font-weight: 500;
            font-size: 1.4rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            letter-spacing: 0;
            display: block;
            color: $white;
            text-decoration: none;
            position: relative;
        }

        &:last-child {
            svg {
                vertical-align: bottom;
            }
        }
    }

    .funcitonal__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        scale: 0;
        background-color: $white;
        transition: opacity, visibility, scale;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;

        a {
            color: $dark-gray;
            padding: 1rem 2rem;

            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
    }

    .funcitonal__item a:hover~.funcitonal__submenu,
    .funcitonal__submenu:hover {
        opacity: 1;
        visibility: visible;
        scale: 1;
    }
}

.header__middle {
    background-color: $secondary-color;

    &--container {
        display: flex;
        height: 9.5rem;
        justify-content: space-between;
        align-items: center;
    }

    &--logo {
        width: 20rem;
        aspect-ratio: 4 / 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &--search {
        display: flex;
        align-items: center;
        width: 48rem;
        height: 4.2rem;
        border-radius: 5rem;
        overflow: hidden;
        gap: 0.1rem;

        .form__group--search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .form__group--search:first-child {
            width: 30%;

            button {
                height: 100%;
                width: 100%;
                color: $gray;
                background-color: $white;
            }
        }

        .form__group--search:last-child {
            position: relative;
            width: 70%;

            input[type="search"] {
                display: block;
                height: 100%;
                width: 100%;
                background-color: $white;
                padding-left: 3rem;
                padding-right: 3rem;
            }

            input[type="search"]::placeholder {
                color: $gray;
            }
        }

        .header__btn--search {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translate(0, -50%);
            padding: 1rem;

            * {
                fill: $gray;
            }


        }
    }
}


.header__bottom--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.4rem;
}
.header__bottom--roundmenu {
    width: 2rem;
    height: 2rem;
}
.header__bottom--roundmenu:hover ~ .header__nav--vertical, .header__nav--vertical:hover{
    translate: 30rem 0;
}

.header__bottom--functional {
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    a {
        display: block;

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

nav.header__nav {
    align-items: center;
    gap: 2rem;
    position: relative;

    .header__nav--item > a {
        text-decoration: none;
        color: $dark-gray;
        font-family: $font-quicksand;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 4.4rem;
        letter-spacing: 0;
        display: inline-block;
        height: 5.4rem;
        padding: 0.5rem 1rem;

        &:hover {
            color: $primary-color;

            path {
                stroke: $primary-color;
            }

        }

        &:hover~.header__megamenu {
            opacity: 1;
            visibility: visible;
            scale: 1;

        }
    }

    .header__megamenu {
        position: absolute;
        overflow: scroll;
        top: 100%;
        left: 0;
        transform-origin: 10% 0%;
        opacity: 0;
        visibility: hidden;
        scale: 0;
        background-color: $white;
        transition: opacity, visibility, scale;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        padding-top: 3rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;

        &:hover {
            opacity: 1;
            visibility: visible;
            scale: 1;
        }

        &--list {
            display: inline-block;
            a {
                color: $black;
                font-family: $font-manrorpe;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.8rem;
                text-decoration: none;
                display: flex;
                padding: 0.8rem 1.2rem;
                justify-content: space-between;
            }
            & > a:hover{
                background-color: $gray;
                span {
                    color: $primary-color;
                }
            }
        }

        &--submenu {
            display: flex;
            // position: absolute;
            right: 10%;
            top: 4rem;
            gap: 2rem;

            a {
                color: $black;
                font-family: $font-manrorpe;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
    .header__nav--item:last-child{
        position: relative;
        .header__submenu{
            width: max-content;
            position: absolute;
            top: 100%;
            left: 0;
            transform-origin: 0% 0%;
            opacity: 0;
            visibility: hidden;
            scale: 0;
            background-color: $white;
            transition: opacity, visibility, scale;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
            border-radius: 1rem;
            box-shadow: 0.3rem 0.8rem 1.5rem 0rem rgba(215, 215, 215, 0.50);
            padding: 1.8rem 1.6rem;
            a{
                color: $black;
                font-family: $font-quicksand;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2rem;
                text-decoration: none;
                display: block;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
            }
            a:hover {
                background-color: $primary-light-color;
            }
        }

        & > a:hover ~ .header__submenu, .header__submenu:hover{
            scale: 1;
            opacity: 1;
            visibility: visible;
        }
        
    }

}
.header__nav--vertical{
    position: fixed;
    width: 30rem;
    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    background: $white;
    z-index: 10;
    display: block;
    top: 0;
    left: -30rem;
    transition: translate 0.3s ease;
    .header__nav--item{
        position: relative;
        & > a {
            text-decoration: none;
            color: $dark-gray;
            font-family: $font-quicksand;
            font-weight: 600;
            font-size: 1.47rem;
            line-height: normal;
            display: flex;
            padding: 1rem 2rem;
            justify-content: space-between;
            align-items: center;
        
            &:hover {
                color: $primary-color;
        
                path {
                    stroke: $primary-color;
                }
        
            }
        
            &:hover~.header__megamenu {
                opacity: 1;
                visibility: visible;
                scale: 1;
                height: fit-content;
            }
        }
    }


    .header__megamenu {
        transform-origin: 10% 0%;
        opacity: 0;
        visibility: hidden;
        scale: 0;
        background-color: $white;
        transition: opacity, visibility, scale;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        height: 0rem;
        padding-right: 2rem;
        padding-left: 2rem;

        &:hover {
            opacity: 1;
            visibility: visible;
            scale: 1;
            height: fit-content;
        }

        &--list {
            display: block;

            a {
                color: $black;
                font-family: $font-manrorpe;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
                display: flex;
                padding: 0.8rem 1.2rem;
                justify-content: space-between;

            }

            &>a:hover {
                background-color: $gray;

                span {
                    color: $primary-color;
                }
            }
            
        }

        &--submenu {
            padding-left: 1rem;
            padding-right: 1rem;
            opacity: 0;
            scale: 0;
            visibility: hidden;
            height: 0;
            transform-origin: 0% 0%;
            transition: opacity, visibility, scale, height;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;

            a {
                color: $black;
                font-family: $font-manrorpe;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: block;
                border-radius: 1rem;
            }
            a:hover{
                color: $primary-color;
                background-color: $primary-light-color;
            }
        }
        .header__megamenu--list > a:hover ~ .header__megamenu--submenu,
        .header__megamenu--submenu:hover {
            opacity: 1;
            scale: 1;
            visibility: visible;
            height: fit-content;
        }
    }

    .header__nav--item:last-child {
        // position: relative;

        .header__submenu {
            width: 100%;
            opacity: 0;
            visibility: hidden;
            scale: 0;
            transform-origin: 0% 0%;
            background-color: $white;
            transition: opacity, visibility, scale;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
            border-radius: 1rem;
            box-shadow: 0.3rem 0.8rem 1.5rem 0rem rgba(215, 215, 215, 0.50);
            padding: 1.8rem 1.6rem;

            a {
                color: $black;
                font-family: $font-quicksand;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2rem;
                text-decoration: none;
                display: block;
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
            }

            a:hover {
                background-color: $primary-light-color;
            }
        }

        &>a:hover~.header__submenu,
        .header__submenu:hover {
            scale: 1;
            opacity: 1;
            visibility: visible;
        }

    }
}

.header__hotline{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    color: $black;
    font-family: $font-quicksand;
    font-size: 1.472rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    a{
        text-decoration: none;

    }
}

@media (max-width: 767.98px){
    nav.header__nav--vertical{
        
    }
    .header__nav--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        padding-left: 2.7rem;
        padding-right: 2.7rem;

        a {
            img {
                width: 15rem;
            }
        }
    }
}