<!-- Footer -->
<footer class="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer__content">
                <div class="row g-3 g-sm-2">
                    <div class="col-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <h3>About us</h3>
                        <ul class="footer__nav">
                            <li><a href="" class="footer__nav--item">About us</a></li>
                            <li><a href="" class="footer__nav--item">News</a></li>
                            <li><a href="" class="footer__nav--item">Support</a></li>
                            <li><a href="" class="footer__nav--item">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12 offset-1 offset-xl-1 offset-lg-0 gy-md-3 gy-sm-4 ">
                        <h3>Service</h3>
                        <ul class="footer__nav">
                            <li><a href="" class="footer__nav--item">Help center</a></li>
                            <li><a href="" class="footer__nav--item">Privacy Policy</a></li>
                            <li><a href="" class="footer__nav--item">How to by</a></li>
                            <li><a href="" class="footer__nav--item">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-1 offset-xl-1 offset-lg-0 gy-md-3 gy-sm-4 ">
                        <h3>Payment</h3>
                        <div class="footer__payment--method">
                            <img src="./assets/img/payment-method.png" alt="">
                        </div>
                    </div>
                    <div class="col-2 col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12 offset-1 offset-lg-0 gy-md-3 gy-sm-4 ">
                        <h3>Follow us</h3>
                        <ul class="footer__nav">
                            <li>
                                <a href="https://www.facebook.com/" class="footer__nav--item">
                                    <img src="./assets/img/social-1.png" alt="">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="footer__nav--item">
                                    <img src="./assets/img/social-2.png" alt="">
                                    LinkedIn
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="footer__nav--item">
                                    <img src="./assets/img/social-3.png" alt="">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://zalo.me/pc" class="footer__nav--item">
                                    <img src="./assets/img/social-4.png" alt="">
                                    Zalo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-xl-4 col-lg-8 col-md-8 col-sm-12 col-xs-12 g-4 gy-md-3 gy-sm-4 ">
                        <h3>Company</h3>
                        <div class="footer__company">
                            <p>Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h) </p>
                            <p><a href="mailto:abcs@gmail.com">Email: abcs@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-2 offset-lg-0 g-4 gy-md-3 gy-sm-4 ">
                        <h3>Certification</h3>
                        <div class="footer__certification">
                            <img src="./assets/img/certificate-1.png" alt="">
                            <img src="./assets/img/certificate-2.png" alt="">
                            <img src="./assets/img/certificate-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <span>© 2024 by NapThe. All Rights Reserved</span>
        </div>
    </div>
</footer>
<!-- End Footer -->