<div class="section__header <% if (backGround === "orange") { %>
 bg__orange
<% } %> ">
    <h2><%= title %></h2>
    <div class="section__remote--btn">
        <span><%= all %></span>
        <button class="section__btn-back">
            <img src="<%- btnBack %>" alt="">
        </button>
        <button class="section__btn-foward">
            <img src="<%- btnFoward %>" alt="">
        </button>
    </div>
</div>