<div class="section__header <% if (backGround === "orange") { %>
 bg__orange
<% } %> ">
    <h2><%= title %></h2>
    <div class="remote-btn">
        <span><%= all %></span>
        <%- btnBack %>
        <%- btnFoward %>
    </div>
</div>