<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="account-wrapper">
        <div class="account__wrapper--background">
        </div>
        <div class="container">
            <main class="account__container">
                <section class="account__info">
                    <div class="account__info--avatar">
                        <img src="./assets/img/account/avatar.png" alt="">
                        <div class="account__info--changeavt">
                            <input type="file" name="" id="camera-change-avt" accept="image/*" class="d-none">
                            <label for="camera-change-avt"><img src="./assets/img/account/camera.svg" alt=""></label>
                        </div>
                    </div>
                    <div class="account__info--context">
                        <h1 class="account__info--name">Nguyễn Xuân Việt</h1>
                        <a href="./account.html" class="account__info--view">Thông tin tài khoản</a>
                    </div>
                    
                    
                    
                    <ul class="account__info__funcitonal--list">
                        <li>
                            <a href="./myaccount.html" class="account__info__functional--item">
                                <div class="item__icon--cover">
                                    <img src="./assets/img/account/user.svg" alt="">
                                </div>
                                My account
                            </a>
                        </li>
                        <li>
                            <a href="" class="account__info__functional--item">
                                <div class="item__icon--cover">
                                    <img src="./assets/img/account/topup.svg" alt="">
                                </div>
                                Topup
                            </a>
                        </li>
                        <li>
                            <a href="./transaction-history.html" class="account__info__functional--item">
                                <div class="item__icon--cover">
                                    <img src="./assets/img/account/history.svg" alt="">
                                </div>
                                Transaction History
                            </a>
                        </li>
                        <li>
                            <a href="" class="account__info__functional--item">
                                <div class="item__icon--cover">
                                    <img src="./assets/img/account/inventory.svg" alt="">
                                </div>
                                Inventory
                            </a>
                        </li>
                        <li>
                            <a href="" class="account__info__functional--item">
                                <div class="item__icon--cover">
                                    <img src="./assets/img/account/favorite.svg" alt="">
                                </div>
                                My Favorite
                            </a>
                        </li>
                    </ul>
                </section>

                <section class="account__overview">
                    <div class="account__overview--content">
                        <h2>Tổng quan tài khoản</h2>
                        <div class="account__overview--info">
                            <article class="account__view overview__info--container">
                                <div class="account__view--header">
                                    <div class="account__view--img">
                                        <img src="./assets/img/account/avatar.png" alt="">
                                    </div>
                                    <div class="account__view--text">
                                        <h3>Nathaniel Poole</h3>
                                        <p>Thành viên</p>
                                    </div>
                                </div>
                                <div class="account__view--info">
                                    <a href="mailto:toandesignmtcn@gmail.com" class="account__view--mail">
                                        <img src="./assets/img/account/email.svg" alt="">
                                        toandesignmtcn@gmail.com
                                    </a>
                                </div>
                            </article>
                            <article class="account__historybuy overview__info--container">
                                <div class="account__history--header">
                                    <h3>Kho hàng</h3>
                                    <a href="" class="account__historybuy--btn">Xem thêm ></a>
                                </div>
                                <div class="account__historybuy--info">
                                    <p><span>12</span>Chờ xử lý</p>
                                    <p><span>8</span>Đang xử lý</p>
                                    <p><span>8</span>Hoàn thành</p>
                                    <p><span>8</span>Bị hủy</p>
                                </div>
                            </article>
                            <article class="account__balance overview__info--container">
                                <div class="account__balance--header">
                                    <h3>Số dư hiện tại</h3>
                                </div>
                                <div class="account__balance--info">
                                    <span class="account__balance--money">
                                        <img src="./assets/img/account/coin.png" alt="">
                                        18.000đ
                                    </span>
                                    <a href="" class="account__balance--btn">Nạp tiền</a>
                                </div>
                            </article>
                            <article class="earnpoint overview__info--container">
                                <div class="earnpoint--header">
                                    <h3>Tích điểm</h3>
                                </div>
                                <div class="earnpoint--info">
                                    <span class="earnpoint--money">
                                        <img src="./assets/img/account/coin.png" alt="">
                                        18.000đ
                                    </span>
                                    <a href="" class="earnpoint--btn">Đỏi điểm</a>
                                </div>
                            </article>

                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script type="module" src="./main.js"></script>
</body>
</html>