<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="account-wrapper">
        <%- include("./partials/header.ejs") %>
        <div class="container">
            <H1>
                Account
            </H1>
        </div>
    
        <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
</body>
</html>