<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="wrapper">
        <%- include("./partials/header.ejs") %>
        
        <!-- Start Index -->
        <main class="index__wrapper">
            <div class="index__content">
                <div class="container">

                    <!-- Top banner -->
                    <section class="top__banner">
                        <div class="top__banner--container row">
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="top__banner--content">
                                    <h2 class="top__banner--title">Super saving gift card for new season</h2>
                                    <p class="top__banner--text">Don't miss our limited-time offers! Discover current deals today!</p>
                                    <button class="top__banner--btn">
                                        View all
                                        <img src="./assets/img/ic_round-arrow-foward.svg" alt="" srcset="">
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="top__banner--img" src="./assets/img/index/cover.png" alt="">
                            </div>
                        </div>
                    </section>

                    <!-- Funcitonal -->
                    <div class="index__functional">
                        <ul class="row row-cols-5 row-cols-md-3 row-cols-sm-3">
                            <li class="col g-3">
                                <a href="" class="index__functional--item">
                                    <div>
                                        <img src="./assets/img/index/function-1.png" alt="">
                                    </div>
                                    Nạp rút nhanh chóng
                                </a>
                            </li>
                            <li class="col g-3">
                                <a href="" class="index__functional--item">
                                    <div>
                                        <img src="./assets/img/index/function-2.png" alt="">
                                    </div>
                                    Giảm giá sâu
                                </a>
                            </li>
                            <li class="col g-3">
                                <a href="" class="index__functional--item">
                                    <div>
                                        <img src="./assets/img/index/function-3.png" alt="">
                                    </div>
                                    Hoàn tiền
                                </a>
                            </li>
                            <li class="col g-3 offset-md-2">
                                <a href="" class="index__functional--item">
                                    <div>
                                        <img src="./assets/img/index/function-4.png" alt="">
                                    </div>
                                    Bảo mật
                                </a>
                            </li>
                            <li class="col g-3">
                                <a href="" class="index__functional--item">
                                    <div>
                                        <img src="./assets/img/index/function-5.png" alt="">
                                    </div>
                                    Uy tín
                                </a>
                            </li>
                            
                        </ul>
                    </div>

                    <!-- Split banner -->
                    <%- include("./partials/split-banner.ejs", 
                        {
                            pic1: "./assets/img/index/function-left.png" ,
                            pic2: "./assets/img/index/function-right.png" ,
                            bg1: "./assets/img/index/circle-1.png" ,
                            bg2: "./assets/img/index/circle-2.png",
                            bannerClass: "split__banner",
                            pic1Text: {title: "Card voucher hot news",},
                            pic2Text: {title: "Card voucher hot news",},
                            isShownPic2: false
                        } 
                    ) %>

                    <!-- Suggestion -->
                    <section class="index__sugestion">
                        <div class="index__sugestion--title">
                            <h2>Top Seller Top-up</h2>
                            <p>Don't miss our limited-time offers! Discover current deals today!</p>
                        </div>
                        <div class="index__sugestion--filter">
                            <div class="row gx-1 gy-2 row-cols-md-3">
                                <div class="col gx-md-2 d-sm-none">
                                    <button class="filter__item">Hôm nay có gì</button>
                                </div>
                                <div class="col gx-md-2">
                                    <button class="filter__item">Tất cả</button>
                                </div>
                                <div class="col gx-md-2">
                                    <button class="filter__item">Gợi ý cho bạn</button>
                                </div>
                                <div class="col gx-md-2">
                                    <button class="filter__item">Deal siêu hot</button>
                                </div>
                                <div class="col gx-md-2 d-sm-none">
                                    <button class="filter__item">Gợi ý cho bạn</button>
                                </div>
                            </div>
                        </div>
                        <div class="index__sugestion--products">
                            <%- include("./partials/list-cards.ejs", { itemClass: "col" ,
                                sideImg: "" , imgClass: "" ,
                                colWithImg: "row row-cols-5 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-3" ,
                                recommendProduct: [ { id: 1, img: "./assets/img/index/newest-1.png" , title: "Target Gift Card 50$ (US)- Order" ,
                                price: "120.000 ~ 134.000" , btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 2,
                                img: "./assets/img/index/newest-2.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 3,
                                img: "./assets/img/index/newest-3.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 4,
                                img: "./assets/img/index/newest-4.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 5,
                                img: "./assets/img/index/newest-5.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                }, ]}) %>
                        </div>
                        <div class="index__sugestion--more">
                            <a href="./collection.html">xem tất cả</a>
                        </div>
                    </section>


                    <!-- Top sell banner -->
                    <section class="topsell__banner">
                        <div class="row">
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="topsell__banner--left">
                                    <div class="topsell__intro">
                                        <h3>Top Seller Gift Card</h3>
                                        <p>Don't miss our limited-time offers! Discover current deals today!</p>
                                        <a href="">View all <img src="./assets/img/ic_round-arrow-foward.svg" alt=""></a>
                                    </div>
                                    <img loading="lazy" class="banner__background medium" src="./assets/img/index/light-triangle-1.png" alt="">
                                    <img loading="lazy" class="banner__background large" src="./assets/img/index/light-triangle-2.png" alt="">
                                    <img loading="lazy" class="banner__background small" src="./assets/img/index/light-triangle-3.png" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img loading="lazy" class="banner__item" src="./assets/img/index/giftcard-2.png" alt="">
                    
                            </div>
                        </div>
                    </section>
                    
                    <!-- Categories -->
                    <section class="index__categories">
                        <%- include("./partials/section-header.ejs", {
                            title: "Sản phẩm theo danh mục",
                            all: "Tất cả danh mục",
                            backGround: "transparent",
                            btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg"
                        }) %>

                        <%- include("./partials/split-banner.ejs", 
                            {
                                pic1: "./assets/img/index/category-1.png",
                                pic2: "./assets/img/index/category-2.png",
                                bg1: "./assets/img/index/circle-1.png",
                                bg2: "./assets/img/index/circle-2.png",
                                bannerClass: "split__banner--mt0",
                                pic1Text: {
                                    title: "Card voucher hot news",
                                },
                                pic2Text: {
                                    title: "Card voucher hot news",
                                },
                                isShownPic2: true
                            }
                        ) %>
                        
                        <div class="index__sugestion--products">
                            <%- include("./partials/list-cards.ejs", {
                                itemClass: "col",
                                sideImg: "",
                                imgClass: "",
                                colWithImg: "row row-cols-5 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-3",
                                recommendProduct: [
                                    {
                                        id: 1,
                                        img: "./assets/img/index/product-category-1.png" , title: "Target Gift Card 50$ (US)- Order" ,
                                        price: "120.000 ~ 134.000" ,
                                        btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 2,
                                img: "./assets/img/index/product-category-2.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 3,
                                img: "./assets/img/index/product-category-3.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 4,
                                img: "./assets/img/index/product-category-4.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 5,
                                img: "./assets/img/index/product-category-5.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                }, ]}) %>
                        </div>
                    </section>

                    <!-- Top sell product -->
                    <section class="topsell__products">
                        <%- include("./partials/section-header.ejs", { title: "Sản phẩm bán chạy" , all: "Tất cả danh mục", backGround: "transparent" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg"
                            }) %>
                            <div class="topsell__products--container row row-cols-2 row-cols-md-1">
                                <div class="col-3 col-xl-3 col-lg-8 col-md-12">
                                    <div class="topsell__products--sider">
                                        <img loading="lazy" src="./assets/img/index/card-voucher.png" alt="">
                                        <div class="topsell__img--btn">
                                            <h3>Card voucher hot news</h3>
                                            <button>View all <img src="./assets/img/ic_round-arrow-foward.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 col-xl-9 col-lg-4 col-md-12 g-md-3">
                                    <%- include("./partials/list-cards.ejs", { itemClass: "col-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12" ,
                                        sideImg: "./assets/img/card-voucher.png" ,
                                        colWithImg: "row row-cols-3 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 gx-1 gy-2 g-md-3" ,
                                        imgClass: "col-4 col-xl-4 col-lg-8 col-md-12" , recommendProduct: [ { id: 1, img: "./assets/img/index/newest-1.png" ,
                                        title: "Target Gift Card 50$ (US)- Order" , price: "120.000 ~ 134.000" , btnIcon: "./assets/img/cart.svg",
                                        btnText: "Mua ngay"
                                        },
                                        {
                                        id: 2,
                                        img: "./assets/img/index/newest-2.png",
                                        title: "Target Gift Card 50$ (US)- Order",
                                        price: "120.000 ~ 134.000",
                                        btnIcon: "./assets/img/cart.svg",
                                        btnText: "Mua ngay"
                                        },
                                        {
                                        id: 3,
                                        img: "./assets/img/index/newest-3.png",
                                        title: "Target Gift Card 50$ (US)- Order",
                                        price: "120.000 ~ 134.000",
                                        btnIcon: "./assets/img/cart.svg",
                                        btnText: "Mua ngay"
                                        },
                                        ]}) %>
                                </div>
                                
                        </div>
                    </section>

                    <!-- Newest product -->
                    <section class="newest__products">
                        <%- include("./partials/section-header.ejs", { title: "Sản phẩm mới nhất" , all: "Tất cả danh mục", backGround: "transparent" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg"
                            }) %>

                        <div class="newest__products--container">
                            <%- include("./partials/list-cards.ejs", {
                                itemClass: "col",
                                sideImg: "",
                                imgClass: "",
                                colWithImg: "row row-cols-5 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-3",
                                recommendProduct: [ { id: 1, img: "./assets/img/index/newest-1.png" , title: "Target Gift Card 50$ (US)- Order" ,
                                price: "120.000 ~ 134.000" , btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 2,
                                img: "./assets/img/index/newest-2.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 3,
                                img: "./assets/img/index/newest-3.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 4,
                                img: "./assets/img/index/newest-4.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                },
                                {
                                id: 5,
                                img: "./assets/img/index/newest-5.png",
                                title: "Target Gift Card 50$ (US)- Order",
                                price: "120.000 ~ 134.000",
                                btnIcon: "./assets/img/cart.svg",
                                btnText: "Mua ngay"
                                }, ]}) %>
                        </div>
                    </section>


                    <!-- Group List Product -->
                    <section class="grouplist__products">
                        <div class="row g-3">
                            <div class="col-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="grouplist__products--content">
                                    <%- include("./partials/section-header.ejs", { title: "Top Selling product", backGround: "orange" , all: "Tất cả danh mục" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg" }) %>

                                        <%- include("./partials/grouplist-product.ejs",{
                                            listProduct:[
                                                {
                                                    img: "./assets/img/index/topsell-1.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-2.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-3.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                }
                                            ]}
                                        ) %>
                                    </div>
                            </div>
                            <div class="col-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="grouplist__products--content">
                                    <%- include("./partials/section-header.ejs", { title: "Featureed Product", backGround: "orange" , all: "Tất cả danh mục" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg" }) %>

                                        <%- include("./partials/grouplist-product.ejs",{
                                            listProduct:[
                                                {
                                                    img: "./assets/img/index/topsell-1.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-2.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-3.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                }
                                            ]}
                                        ) %>
                                    </div>
                            </div>
                            <div class="col-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="grouplist__products--content">
                                    <%- include("./partials/section-header.ejs", { title: "On-sale Product", backGround: "orange" , all: "Tất cả danh mục" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg" }) %>

                                        <%- include("./partials/grouplist-product.ejs",{
                                            listProduct:[
                                                {
                                                    img: "./assets/img/index/topsell-1.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-2.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                },
                                                {
                                                    img: "./assets/img/index/topsell-3.png",
                                                    title: "Target Gift Card 50$ (US)",
                                                    price: "120.000 ~ 134.000",
                                                    rating: "4.8",
                                                    count: "120k",
                                                    rateIcon: "./assets/img/ic_round-star.svg"
                                                }
                                            ]}
                                        ) %>
                                    </div>
                            </div>
                        </div>
                    </section>

                    <!-- News -->
                    <section class="news">
                        <%- include("./partials/section-header.ejs", { title: "Tin tức & Khuyến mại" , backGround: "transparent" ,
                            all: "" , btnBack: "./assets/img/ic_round-arrow-foward.svg",
                            btnFoward: "./assets/img/ic_round-arrow-foward.svg" }) %>

                        <div class="news__wrapper">
                            <%- include("./partials/news-list.ejs", { news: [
                                {
                                    img: "./assets/img/index/news-1.png",
                                    content: "Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia"
                                },
                                {
                                    img: "./assets/img/index/news-2.png",
                                    content: "Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia"
                                },
                                {
                                    img: "./assets/img/index/news-3.png",
                                    content: "Buy RM100 Free RM5; Buy RM200 Free RM10; RM300 Free RM20 Razer Gold Malaysia"
                                },
                            ]}) %>
                        </div>
                    </section>


                    <!-- Top sell banner -->
                    <div class="topsell__banner--2">
                        <div class="row">
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="topsell__banner--left--2">
                                    <div class="topsell__intro--2">
                                        <h3>Top Seller Gift Card</h3>
                                        <p>Don't miss our limited-time offers! Discover current deals today!</p>
                                        <a href="">View all <img src="./assets/img/ic_round-arrow-foward.svg" alt=""></a>
                                    </div>
                                    <img loading="lazy" class="banner__background dark__medium" src="./assets/img/index/dark-triangle-1.png" alt="">
                                    <img loading="lazy" class="banner__background dark__large" src="./assets/img/index/dark-triangle-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img loading="lazy" class="banner__item" src="./assets/img/index/giftcard-1.png" alt="">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </main>
        <!-- End Index -->
    
        <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
</body>
</html>