$font-inter: "Inter", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-manrorpe: "Manrope", sans-serif;

$white: #FFFFFF;
$black: #000;
$light-black: #323232;
$dark-gray: #5C5C5C;
$gray: #AFAFAF;
$dark-grey: #E5E5E5;
$grey: #F2F2F2;
$light-grey: #F7F7F7;
$primary-color: #ED5A25;
$primary-light-color: #FFDBCE;
$secondary-color: #FFF4F1;
$danger: #D71F2B;
$success: #76C58C;