@use "./reset";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";


// Pages
@use "./pages/index";
@use "./pages/account";
@use "./pages/collection";
@use "./pages/payment";
@use "./pages/sign-in";
@use "./pages/sign-up";

// Components
@use "./components/button";
@use "./components/form";
@use "./components/split-banner";
@use "./components/section-header";
@use "./components/list-cards";
@use "./components/grouplist-product";
@use "./components/news-list";


// Common
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button, input, textarea, select{
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

input {
    border: none;
    outline: none;
}

a {
    color: inherit;
}